body{
    @import url('https://fonts.googleapis.com/css2?family=DM+Mono&family=Open+Sans:wght@300&display=swap');
    font-family: 'DM Mono', monospace;
    font-family: 'Open Sans', sans-serif;
}

/* NAvbar Styles */

.navbar {
    background-color: #202020;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.navbar-dark .navbar-brand {
    color: #fff;
    padding: 0.5rem 0.5rem;
   
}
.navbar-dark {
    .navbar-brand{
        &:focus, &:hover {
            background-color: #141414;
            color: #ebebeb;
            border-radius: 3px;
        }
    }
}
nav a img{
	height: 1.4rem;
}

.navbar-dark .navbar-nav .nav-link{
    padding-left: 1rem;
    
    &:hover {
        color: #ffffff;
        background-color: #141414;
        opacity: 1;
        border-radius: 3px;
    }
}


.navbar-toggler{
	color: #dfdddd;
}

.carousel-height-ratio {
	height: 35vw;
}

.carousel-caption h5{
	font-size: 3rem;
	font-weight: 100;
	
}



.about-box{
	/* border-radius: 1rem; */
    padding-bottom: 2rem;
    img{
        border-radius: 0.5rem;
        max-height: 450px;
        max-width: 300px;
        
    }
    h1 {
        margin-top: 1rem;
        font-size: 3rem;
        text-shadow: 3px 1px 3px #7A7A7A;
        color: #271506;
        font-family: 'Raleway', sans-serif;
    }
    
    hr {
        border: 0;
        width: 80%;
        height: 1px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    }
    iframe{
        width: 40vmax;
        height: 46vmin;
    }
    p{
        width: 84%;
        text-align: justify;
        font-family: 'Raleway', sans-serif;
        font-size: 1.5rem;
        -moz-box-shadow: 0px 2px 10px 1px rgba(0,0,0,0.33);
        box-shadow: 0px 2px 10px 1px rgba(0,0,0,0.33);
        color: #131313;
        font-weight: 100;
        border: #c3c3c3 solid 1px;
        padding: 1.4rem;
        border-radius: 4px;
    }
}


#table{
        border: whitesmoke solid 5vw;
        border-width: 5vw;
        color: white;

    h4{
        background-color: #bba673;
        padding: 1.2rem;
        border-radius: 6px;
        margin-bottom: 0;
    }
    #content{
        .col-lg-4{
            
            &:nth-of-type(2){
                //this just works, nth-of-type(1) does not select first col-lg-4
                background-color: #ff001eee;
            }
            &:nth-of-type(3){
                background-color: #190d76ee;
            }
            &:nth-of-type(4){
                background-color: #518bbbee;
            }
            h6{
                padding-top: 0.5rem;
                font-size: 1.5rem;    
                @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
                font-family: 'Open Sans', sans-serif;
                
                &::first-letter{
                    font-size: 2rem;
                    font-weight: 600;
                }
            }
            p{
                font-weight: 100;
            }
            border: #a7a7a7 solid 1px;
            border-radius: 6px;
            @media (min-width:1400px){
                h6{
                    padding-left: 10%;
                }
                p{
                    padding: 0 10%;
                    text-align: justify;
                }
            }
        }

    }
}

#blog {
    margin: 2rem auto;
    .heading{
        h1{
        background: #0e8dbc;
        color: #FFFFFF;
        text-shadow: 3px 0px 1px #23c4c9 ;
        border-radius: 40px;
        width: 100%;
        }
        
        
    }
    .row{
        border: 2px solid #83C5BE;
        border-radius: 20px;
        background-color: #EDF6F9;
        margin-bottom: 1rem;
        img{
            border-radius: 10px;
            width: 100%;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;

        }
        h1 {
            //below 992px
            font-size: 2rem;
        }
        h4 {
            //below 992px
            font-size: 0.8rem;
            font-weight: 300;

        }
        @media(min-width:992px) {
        
            img{
                float: left;
            }
            h1 {
                font-size: 3.7rem;
            }
            h4 {
                font-size: 1.3rem;
                font-weight: 300;
    
            }
        }
    }
}

.history{
    @import url('https://fonts.googleapis.com/css2?family=DM+Mono&family=Open+Sans:wght@300&display=swap');
    font-family: 'DM Mono', monospace;

    $black: #34435E;
    $white: #ffffff;
    background-image: url(../img/pattern.jpg);
    margin: 0;
    padding: 0 4em;
    
    main{

        min-width: 300px;
        max-width: 900px;
        margin: auto;
        padding-bottom: 50px;
        
    

        h1{
            padding: 1rem 2rem;
            text-align: center;
            font-weight: 900;
            color: #0c0c0c;
            text-shadow: #cbcbcb 3px -1px 0px;
        }
            
        p {
            
            text-align: center;
            font-size: 1em;
            line-height: 1.75em;
            border-top: 3px solid;
            // background: rgb(255,17,45);
            border-image: linear-gradient(90deg, rgba(255,17,45,1) 19%, rgba(41,20,212,1) 69%);
            // border-image: linear-gradient(90deg, rgba(255,17,45,1) 19%, rgba(40,29,127,1) 22%,);
            border-image-slice: 1;
            border-width: 3px;
            margin: 0;
            padding: 40px;
            counter-increment: section;
            position: relative;
            color: $black;
            .year{
                display: block;
                text-align: center;
                color: #2e0dc5;
                font-weight: 700;
                font-size: 1.3rem;
            }
            .info{
                background-color: #fff;
                padding: 0.2rem 1rem;
            }
            
            // //numbers
            // &:before {
            // content: counter(section);
            // position: absolute;
            // border-radius: 50%;
            // padding: 10px;
            // height: 1.25em;
            // width: 1.25em;
            // background-color: $black;
            // text-align: center;
            // line-height: 1.25em;
            // color: $white;
            // font-size: 1em;
            // }
        }
        //odd number borders
        p:nth-child(odd) {
            border-right: 3px solid;
            
            &:before {
            left: 100%; 
            margin-left: -20px;
            }
        }
        //even number borders
        p:nth-child(even) {
            border-left: 3px solid;
            
            &:before {
            right: 100%; 
            margin-right: -20px;
            }
        }
        //handle first and last
        p:first-child {
            border-top: 0;
            border-top-right-radius:0;
            border-top-left-radius:0;
        }
        p:last-child {
            border-bottom-right-radius:0;
            border-bottom-left-radius:0;
            border-bottom: 3px solid;
        }
    }
}

.footer{
    background-color: #292929;
    width: 100%;
    color: #fff;
    padding-bottom: 50px;
    .col-2 {
        img{
            display: block;
            max-width: 10vmin;
            margin-top: 53px;
        }
    }
    p~a{
        margin: 10px -5px;
    }
    iframe{
        height: 10vmax;
        width: 80vmin;
        margin-bottom: 20px;
    }
    h2{
        font-size: 2.4vmax;
    }
    p{
        font-size: 1vmax;
    }
    @media (min-width:750px){
        img{
            max-width: 13vmin;
        }
        iframe{
            height: 80%;
            width: 80%;
        }
    }
}

@media (min-width:992px){
	.about-box img{
		border-radius: 0.5rem;
		height: 30rem;
    }
}
@media (max-width: 575.98px){
	.about-box p{
		width: 100%;
		font-size: 1.1rem;
		box-shadow: none;
        border: 0px;
        
	}
}